
/*
ФОН
 */
body {
    background-color: black;

}

/*
HEADER
 */
.yheader {
    min-height: 70px;
    border-radius: 25px;
    background-color: white;
    display: flex;
}

header h1 {
    margin-top: 5px;
}

header h1 a {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: #a052eb;
}
.headul {
    list-style-type: none;
}
.headul li {
    float: left;
    margin-top: 10px;
    padding: 8px 10px 8px 10px;
    border-radius: 28px;
}
.headul li a {
    font-family: 'Comfortaa', cursive;
    font-size: 14pt;
    text-decoration: none;
    color: #a052eb;
}

.authul {
    display: none;
}

.profile i {
    color: #a052eb;
    font-size: 36px;
    margin-top: 15px;
}

.change-theme {
    margin-right: 5px;
    color: #a052eb;
    font-size: 36px;
    margin-top: 15px;
}

.headul2 {
    list-style-type: none;
}

.headul2 li {
    float: left;
}







